* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    color: #fff;
    position: relative;    
    overflow: hidden;
}


.container {
    max-width: 1200px;
    width: 70%;
    /*height: 180px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: content-box;
}


.space {
    padding: 1%;
}



.time {
    font-size: 2.5vw;
    text-align: center;
    position: relative; 
}



.clock {
    flex: 1;
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    padding: 3.5% 1.5%;
    box-sizing: border-box;
    flex-direction: column;
}



.container::before {
    content: '';
    width: 220px;
    height: 220px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    left: -50px;
    top: -50px;
    z-index: -1;
}



.container::after {
    content: '';
    width: 220px;
    height: 220px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: -1;
}



.row {
    display: flex;
    gap: 10px;
}



.title {
    font-size: 2.7vw;
    font-weight:900;
}

/* Define the animations */
@keyframes initAnimation {
    0% {
        transform: scale(9) rotate(60deg);
        z-index: 1;
        filter: blur(5px);
    }
   
    100% {
        transform: scale(1) rotate(360deg);

    }
}

.container::before {
    /* ... Other styles ... */
    animation: initAnimation 3s cubic-bezier(0.68, -.75, 0.27, 1.35); /* timing function */
}

.container::after {
    /* ... Other styles ... */
    animation: initAnimation 3s cubic-bezier(0.68, -.75, 0.27, 1.35); 
}


.clock:hover {
    transform: scale(1.15); 
    transition: transform 0.5s ease; 
    z-index: 1;
}






@media (max-width: 1700px) {

    .container {
        max-width: 800px;
    }

    .container::before {
        content: '';
        width: 120px;
        height: 120px;
    }

    .container::after {
        content: '';
        width: 120px;
        height: 120px;
    
    }

    }





@media (max-width: 1000px) {


    .row {
        flex-direction: column;
    }

    .container {
        max-width: 800px;
    }
    
    
}




@media (max-width: 540px) {

    .container{
        width: 60%;
    }

    .container::before {
        content: '';
        width:  70px;
        height:  70px;
        top: -20px;
        left: -20px;
    }

    .container::after {
        content: '';
        width: 70px;
        height: 70px;
        bottom: -20px;
        right: -20px;
    }

    .row {
        flex-direction: column;
    }

    

}


